

html {
    font-family: Helvetica;
    height: auto;
    background-color: hsl(32 48% 85%);

 
}

h1 {
     margin: 0 0 0 6%;
    font-size: 3.5em;
    align-items: center;
    background-image: url(backdrop.png);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
-webkit-text-stroke: 1px #000000;
}

details {
    display: inline-flex;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    width: fit-content;
    box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.315);
    align-self: center;
    margin: 1%;
}

.geel {
    background-color: hsl(53 73% 57%);
}

.blauw {
    background-color: hsl(170 53% 70%);
}

.roze {
    background-color: hsl(352 64% 77%);
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open]::details-content {
    border-radius: 4px;
    padding: 0.5em 0.5em 0.5em;
}

input {
    display: block;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
}

label {
    display: flex;
    border: 1px solid;
    padding: 0.6em;
    margin: 3px;
    box-shadow: 3px 1px 1px black;

    /*  als je over de label hover dan krijgt het een grijze kleur  */
    &:hover {
        background: gray;
        color: white;
    }

    /*  als de label ingeklikt wordt dan krijgt het een ander kleur  */
    &:active {
        background-color: black;
    }
}

/* als de filter aangevinkt is, dan krijgt hij een ander kleur */
input[type="radio"]:checked+label {
    border-color: #000000;
    background-color: #000000;
    color: #ffffff;
}

section {    margin: 0 10% 0 10%;}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    filter: drop-shadow(3px 3px 1px black);
    margin-bottom:5%;
    margin-top: 2%;
    background-color: #8BCAC5;
    border-radius: 4px;
    width: 22em;
    box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.315);
    border: 2px solid #000000;

}

h2 {
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1 ;
    align-self: end;
    font-size: 30px;
    background-color: rgba(240, 240, 240, 0.659);
    margin-bottom: 1%;
     width: 90%;
    grid-column: 1 / -1;
    margin: 0 0.4em 0.8em 0.6em;
   
}

.foto1 {
margin: 1em;
grid-column: 1 / -1;
width: 20em;
max-height: 15em;
grid-row: 1 / 2;
object-fit: cover;
border: 2px solid #000000;
}

dl {
  
    font-size: 16px;
}

dd {
    font-weight: bold;
    padding: 5%;
}

dt {
    margin-top: 8px;
    padding: 5%;
}

.dlleft {
    grid-column: 1;
    grid-row: 2;
}

.dlright {
    grid-column: 2;
    grid-row: 2;
}